  <ion-header-bar class="bar-positive">
      <h1 class="title">I am going to...</h1>
<!--      <button class="button-left icon ion-ios-home-outline " ng-click="goToMain()"> Home</button>-->
    </ion-header-bar>

<ion-content has-bouncing="true" padding="false">  
     <div class="list" ng-controller="locationController">
        <div ng-repeat="destination in destinations" 
           ng-click = "end(destination.value); Map()"
           class="item item-thumbnail-left">

          <img ng-src="{{destination.image}}">
          <h2>{{ destination.name }}</h2>
          <div ng-repeat="room in destination.rooms">
            <h3>{{room}}</h3>
            </div> 
          <p>{{ destination.floor }}</p>
        </div>

</div>   
</ion-content> 
<ion-footer-bar >
    <div id="footer">
			<input id="home" type="image" src="images/icons/home.png" onclick="window.location.href='origin.html'" value="Home"></input>
		</div>
    </ion-footer-bar >
    	